.navbar {
    background-color: #13274F;
    title: white;
    height: 100px;
    margin-bottom: 0;
}

.navbar-brand{
    display: flex;
    color: white;
}
h2{
    color: white;
}

.logo{
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-right: 15px;
}

.menu-section
{
    background-color: #13274F;
    
}

.collapse
{
    background-color:#13274F;
}
a {
    color: #00BFFF;
  }

/*header css end .............*/

.content-wrapper{
    background:url('back2.jpg') no-repeat center center/cover;
}
.header-line{
   height: 50px;
   font-size: 30px;
   margin-top: 20px;
   color: #192a56;
   font-weight: bold;
  }

  .panel-danger > .panel-heading {
    color: #b71540;
    background-color: #ff6b6b;
    border-color: #ebccd1;
    font-weight: bold;
}